*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f4f4f4;
}

/* Global Styling */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#logout {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
.btn {
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-card{
  max-width: 380px;
  margin: auto;
  height: auto;
  border: 1px solid #e4e6e8;
  background: #FFF;
  box-shadow: 1px 1px 1px #e4e6e8;
  border-radius: 5px;
  margin-top: 150px;
}
.form-card-header {
  font-size: 20px;
  text-align: center;
  margin-top:10%;
}

.question-content{
  font-family: 'Lato', sans-serif;
  line-height: 2.0;
  text-align: justify;
}

a.summary-title {
  font-weight: 900;
}

.disabled {
  display: none;
}

.enabled {
  display: inline;
}

.error {
  list-style: none;
  color: #D8000C;
  background-color: #FFD2D2;
}

.success {
  list-style: none;
  color: #4F8A10;
  background-color: #DFF2BF;
}
/* search functionality display */

#search-display {
  margin: 100px 10px 0 10px;
}

#search-content h2 {
  text-align: center;
  margin-top: 10px;
}

/* Modal Sample gotten from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div #modal-content button {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  background: rgb(252, 3, 3);
  text-align: center;
  border: 0;
  color: #fff;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.deleteBtn{
  background: rgb(255, 1, 1);
  text-decoration: none;
  padding: 5px;
  margin-top: 20px;
}

/*header */
header{
  background-color: #161925;
  color: #fff;
  min-width: 100%;
  min-height: 10%;
  position: fixed;
  top: 0;
  z-index: 1;
}

header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
header li{
  display: inline;
  padding: 0 20px 0 20px;
}

header #company-logo{
  float:left;
}
header #company-logo h1{
  margin-top: 12px;
  font-size: 20px;
}

header nav{
  float: right;
  margin-top: 17px;
}

.highlight, .highlight-current a{
  font-weight: bold;
  color: rgb(142,168,195);
  cursor: pointer;
}

header a:hover{
  color: #4E9CAF;
  font-weight: bold;
}
/* Signup Display Section*/
section{
  background-color:#23395B;
}

#signup-display{
  min-height: 550px;
  text-align: justify;
  color: #fff;
}

#welcome-text{
  width: 100%;
}

#welcome-text h1{
  font-size: 3.0em;
  margin-top: 3em;
  padding: 20px 0 0 0;
  margin-bottom: 10px;
  text-align: left;
}

div #welcome-text p {
  font-size: 1.2em;
}

#signup-display p{
  font-size: 15px;
  line-height: 2.0;
}

#signup-display a{
  display: block;
  width: 115px;
  height: 5%;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
}

/*Search Question */

.search-section{
  background-color:#CBF7ED;
  min-height: 50px;
  width: 100%;
}


#search-question form{
  margin-top: 35px;
}

div#search-question input[type="text"]{
  padding:4px;
  height: 35px;
  width: 45%;
}

div#search-question button{
  height: 35px;
  border: 0;
  width: 120px;
}
/*main  */

main{
  display: absolute;
}

/*Side Navigation */
aside#left-sidebar {
  margin:25px 25px 0 0;
  padding: 0;
  float:left;
  min-width: 20%;
  min-height: 550px;
  border-right: 2px solid rgba(102,102,102, 0.3);
}

main:after{
  content: "";
  display: table;
  clear: both;
}

#left-sidebar ul li{
  list-style: none;
  padding-right: 1px;
}

#left-sidebar ul li a{
  text-decoration: none;
  padding: 10px 1px 10px 0;
  color: #666;
}

#left-sidebar ul li a:hover{
font-weight: bold;
color: #4E9CAF;
}

#left-sidebar li.highlight-current{
  border-right: 2px solid blueviolet;
}

/*Content title */
div.main-content-title{
  width: 70%;
  min-height: 100%;
  float: left;
  overflow: hidden;
  padding: 20px;
}

.main-content-title h1{
font-size: 1em;
}

.main-content-title .main-content-btn{
  height: 30px;
  background: #4E9CAF;
  text-align: center;
  border: 0;
  color: #fff;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.main-content-btn a {
  text-decoration: none;
  color: white;
}

.top-question-list{
  width: 100%;
  padding-left: 8px;
}

.question-summary{
  padding: 10px;
  border-bottom:1px solid rgba(102,102,102, 0.1);
}
.summary{
  padding: 5px;
}

.summary a{
  text-decoration: none;
  color:rgb(0,89,153);
}

.summary a:hover{
  color:rgba(0,89,153, 0.4);
}

.answer-stats {
  margin-top: 10px;
  height: 20px;
}

.asked-by-author{
  text-decoration: none;
  background: rgba(0,89,153, 0.8);
  color: #fff;
  padding: 8px;
  margin: 3px;
}

.asked-by-time {
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 8px;
  margin: 3px;
}

.number-of-answers {
  background: #0adac0;
  color: #fff;
  padding: 8px;
  margin: 3px;
}
footer{
  background-color: #161925;
  min-height: 80px;
}

.footer-center {
  text-align: center;
  padding-top: 20px;
  margin-top: 150px;
}

footer p{
  color: #fff;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #183ccc;
}

/*Media query*/
@media(max-width: 873px){
  #welcome-text h1{
      font-size:2.9em;
  }
  div #welcome-text p{
     font-size: 1.1em
  }
}

@media(max-width: 705px){
  #welcome-text h1{
      font-size:2.5em;
  }
  div #welcome-text p{
     font-size: 1.0em
  }
  .search-section{
      background-color:#CBF7ED;
      min-height: 80px;
      width: 100%;
  }
  div #search-question input[type="text"]{
      padding:4px;
      max-height: 20%;
      width: 65%;
  }
  div #search-question button{
      max-height: 20%;
      border: 0;
      width: 70px;
  }

}

@media(max-width: 600px){
  header li{
      padding-left: 0;
  }
  header #company-logo {
      float: none;
      text-align: left;
  }

  header nav {
      float:none;
  }
  #welcome-text h1{
      font-size:2.3em;
  }
  div #welcome-text p{
     font-size: 0.9em
  }
  aside#left-sidebar{
      float: none;
      border-right:none;
      margin:25px 0 5px 0;
      min-height:20%;
  }
  #left-sidebar ul li{
      display: inline-block;
  }
  #left-sidebar #hidden {
      display: none;
  }
  div.main-content-title {
      float: none;
      width: 100%
  }
  div #search-question input[type="text"]{
      padding:4px;
      min-height: 20%;
      width: 75%;
      display: block;
  }
  div #search-question button{
      max-height: 20%;
      border: 0;
      width: 70px;
      margin-top: 1.5em;
      text-align: center;
  }

}

@media (max-width: 414px) {
  body {
      padding: 0px;
  }
  div.container {
      width:90%;
  }

  div.main-content-title {
    padding: 0px;
     width: 100%;
  }

  div.main-content-title h1{
      margin-top: 10px;
      font-size: 25px;
    }

  aside#left-sidebar nav ul li a {
      font-size: 18px;
  }

  div.question-summary{
      padding: 0px;
      margin-bottom: 10px;
  }
  div.answer-stats {
      width: 100%;
      height:20%;
      font-size: 12px;
  }
}

@media(max-width:282px){
  header a{
      font-size: 12px;
  }
  h1.form-card-header{
      margin-top: 10px;
  }
}