footer{
  background-color: #161925;
  min-height: 80px;
  position: relative;
}

.footer-center {
  text-align: center;
  padding-top: 20px;
  margin-top: 150px;
}

footer p{
  color: #fff;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #183ccc;
}
