#left-sidebar{
  margin: 100px 0 0 20px;
  min-width: 15%;
  float: left;
}

.main::after{
  content: "";
  display: table;
  clear: both;
}

.main-content-title{
  width: 80%;
  margin-top: 80px;
}

.question-content p{
  margin-top: 30px;
}

.question-answer label{
  margin-top: 50px;
  display: block;
}

.question-answer textarea {
  width: 75%;
  height: 300px;;
  outline: none;
  border: 1px solid #666;
  box-shadow: 0 0 5px #666;
  resize: none;
}

div.answers-by-others{
  margin-bottom: 5px;
}

p#interactions {
  margin-top: 15px;
}

a#upvotes, a#downvotes, a#preferred {
  margin-right: 10px;
  text-decoration: none;
}

span#comment-author, span#createdAtComment {
  float: right;
  background: rgba(102,102,102, 0.8);
  color: #fff;
  padding-right: 10px;
}

#answer-count {
  width: 15px;
  display: inline;
}

p #answer-count.number-of-answers a {
  text-decoration: none;
}

#answer-count a {
  text-decoration: none;
  color: #fff;
}

.edit-container {
  text-decoration: none;
  background-color: #666;
  color: #fff;
  padding: 8px;
  display: inline;
}

a#visibility.edit-answer {
  text-decoration: none;
  color: #fff;
}

p #add-comment {
  background-color: #666;
  padding: 8px;
  display: inline;
}

a#add-comment {
  text-decoration: none;
  color: #fff;
}

.comment-container {
  display: inline;
}

.question-answer-btn {
  display: block;
  height: 30px;
  border: 0;
  padding: 5px;
}

#question-title {
  font-size:28px;
}

#question-content {
  font-size: 15.5px;
  margin-bottom: 15px;
}

#question-auth {
  display: inline;
}

#question-time {
  display: inline;
}

#deleteQuestion {
  display: inline;
}

.deleteBtn{
  padding: 8px;
}

/* answers Section */
.answers-section{
  margin: 20px 0;
}

.name{
  color: #666;
  font-style: italic;
}

.answers-by-others{
  margin:10px 0;
  border-bottom: 1px solid #666;
}

.answers-by-others p {
  margin-bottom: 5px;
}

@media (min-width:1024px) {
  .main {
      margin-top: 50px;
  }
  .question-answer textarea {
      width: 100%;
  }
}

@media (min-width: 768px) {
  div.main-content-title {
      width: 77%;
  }

  .question-answer textarea {
      width: 100%;
  }
 }


@media(max-width:414px){
 p#question-auth.asked-by-author, p#question-time.asked-by-time, a#deleteQuestion.btn.deleteBtn{
  font-size: 1em;
  text-align: center;
  /* display: block; */
  width: 50%;
  padding: 2%;
 }

 .question-content p, .deleteBtn {
     margin-top: 5px;
 }

 .question-answer textarea {
     width: 100%;
 }

 #question-content {
     width: 100%;
 }
}
